body {
    background-color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 0 auto; 
}

#body-content {
    max-width: 960px;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 0 auto; 
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.site-logo {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: center; 
    padding: 0px;
    margin: 0px;
    background-color: #333;
}

.title {
    display: flex;
    flex-direction: column;
}

.title h1 {
    font-size: 24px;
    margin: 0;
}

.title p {
    font-size: 16px;
    margin: 0;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu ul li {
    margin: 0 15px;
}

.menu ul li a {
    font-size: 0.8em;
    text-decoration: none;
    color: #fff;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

section {
    padding: 20px;
}

.bottom-section {
    padding: 5px;
}

.bottom-section h2 {
    font-size: 1.5rem;
}

.bottom-section ul {
    list-style-type: none;
    padding: 0;
}

.bottom-section li {
    margin-bottom: 10px;
}

.bottom-section b {
    font-weight: bold;
    margin-right: 5px;
}

.screenshot {
    max-width: 100%;
    min-width: 200px;
    height: auto;
}

#feature-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px;
}

.feature-item {
    list-style: none;
    padding: 5px;
    border-radius: 5px;
    text-align: left;
}

@media screen and (max-width: 600px) {
    #feature-list {
        grid-template-columns: 1fr;
        gap: 0px;
        margin: 0px;
    }
    
    .feature-item {
        margin: 0px;
        padding: 0px;
    }
}

a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #0056b3; 
}

#latest-posts ul {
    padding: 1em;
    text-align: left;
}

#latest-posts ul li span {
    font-size: 0.9em;
    color: #888;
}

#page-date {
    font-size: 0.9em;
    color: #888;
}

#post-nav {
    border-top: 1px solid #ddd;
    padding-top: 1em;
    font-size: 0.9em;
}

#post-nav span {
    padding: 1em;
}

footer {
    background-color: #444;
    color: #fff;
    padding: 10px;
}

#license {
    text-decoration: none;
    color: #bbb;
}

#page {
 text-align: left;
 padding: 1em;
}

